<html lang="en">

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		
		<div ng-controller="controller" class="container-fluid white">
			<div id="ontop">
			<h1>CSGO Wear <span id="italics">Beta</span></h1>
			<h4>Find the actual value of cs skins</h4>
			<h5>Gamma Case Update!</h5>
		</div>
			<form ng-submit="enter()">
				<p class="center">Enter <span id="any">Any</span> Steam Account Name: 
				<br>
				<input type="text" ng-model="box.name" ng-init="box.name='bombjester'" value="bombjester">
				<input type="submit" value="Enter">
				<p class="center">Note: Steam API might be slow!</p>
				<p class="center" ng-hide="hidden2" ng-repeat="x in errors">{{x}}</p>
			</form>
			<div class="alert alert-warning" style="margin-right: 20%; margin-left: 20%;text-align: center" ng-if="apidown"><strong>Sorry! Steam API is down! Check <a href="https://steamgaug.es"> here</a> to check status. <br> ༼ つ ◕_◕ ༽つSteam Take My Energy! ༼ つ ◕_◕ ༽つ Keep retrying until it works!</strong></div>

			<button style="margin-left: 45%" ng-if="apidown" ng-click="getwear()">Retry</button>
			<p class="center" ng-hide="table">Filter: <input type="text" ng-model="yolo"> <button style="float: right" ng-click="hidetable()">Hide Values</button></p>
			<table ng-hide="table" class="table table-hover">
			    <thead>
			      <tr>
			        <th>Weapon</th>
			        <th>Skin</th>
			        <th>Condition</th>
			        <th>Wear Value(Float Number)</th>
			        <th>Range</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="z in results | filter:yolo | orderBy:'wear' track by $index">
			        <td>{{z.weapon}}</td>
			        <td>{{z.skin}}</td>
			        <td>{{z.condition}}</td>
			        <td>{{z.wear}}</td>
			        <td>{{z.range}}</td>
			      </tr>
			    </tbody>
  			</table>
			<div class="row">
				<!-- <h4 ng-hide="hidden"><button ng-click="getwear()">Find Values</button></h4> -->
				<p style="text-align: center" ng-hide="hidden">Filter: <input type="text" ng-model="filter_name"></p>
				
				<div class="result col-sm-4" ng-repeat="x in pics | filter:filter_name">
					<p>{{x.market_name}}</p>
					<img src="http://steamcommunity-a.akamaihd.net/economy/image/{{x.icon_url}}/250x150">
				</div>
				
			</div>

			
		</div>
	</body>
</html>