h1{
	text-align: center;
}
h4{
	text-align: center;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#italics{
	font-style: italic;
}
.center{
	margin-top: 5%;
	text-align: center;
	margin-bottom: 5%;
}
.container-fluid{
	margin-left: 5%;
	margin-right: 0%;
}
.result{
	vertical-align: top;
}
.jumbotron{
	margin-left: -5.5%;
}
#any{
	font-weight: bold;
}